
html {
  overflow-y: auto;
  background-size: cover;
}

html, body {
  margin: 0;
  height: 100%;
}

/* https://cdnb.artstation.com/p/assets/images/images/011/513/619/original/james-doyle-2-1.gif?1529970112 */
/* https://steamuserimages-a.akamaihd.net/ugc/100603690261756602/010C72743B9DC679F81539B585332727078800FB/ */
/* https://steamuserimages-a.akamaihd.net/ugc/100603690264825367/868A468EFB1E097C58700B612C50AA4D7C76CD73/ */
/* https://steamuserimages-a.akamaihd.net/ugc/100603690261137482/D09D43F7AF5CE184E5A79C3A8F706B2A3BB64E2F/ */
/* https://i.pinimg.com/originals/fe/78/bb/fe78bbb25f35d56b502327fb6d43b309.png */



#countdowntimer {
  float: left;
  display: absolute;
  font-size: 65px;
  width: 100px;
  height: 100px;
  text-align: center;
  visibility: hidden;
  color: #f20000;
}

#underscore {
  margin: 0 auto;
  width: 50%;
  text-align: center;
  font-size: 75px;
  letter-spacing: 4px;
  visibility: hidden;
  color: #f20000;
}

.main {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

 table {
  border: 1px solid black;
  table-layout: auto;
  /* width: 200px; */
 }

 table td {
   text-align: center;
 }

 .table td {
   vertical-align: bottom;
 }

#canvasDiv {
  /* width: 800px;
  height: 600px;
  position: relative;
  display: flex;
  justify-content: center; */
}

 #canvas {
  border-style: solid;
  background-color: rgb(255, 255, 255);
  border-width: 3px;
  position: absolute;
  display: block;
  left: 50%;
	top: 45%;
  transform: translate(-50%,-50%);
}

#moreUsersMessage {
  margin: auto;
  display: none;
}

#choosingWordsMessage {
  display: none;
  margin: auto;
  position: absolute;
  left: 50%;
	top: 45%;
  transform: translate(-50%,-50%);
}

#canvasButtons {
  margin: auto;
  position: absolute;
  left: 50%;
	top: 45%;
  transform: translate(-50%,-50%);
}

.chat {
  position: absolute;
  left: 75%;
  overflow-y: auto; 
  height:600px;
  flex-basis: 17%;
  margin-right: 2%;
  overflow-y: auto; 
  height:600px;
}

.message-body {
  padding: 5px;
  margin-bottom: 5px;
  background-color: white;
}

.chatInput {
  display: flex;
}

#chatArea {
  margin-right: 10px;
}

.lowerSide {
  position: absolute;
  margin-top: 25px;
  margin-right: 10px;
  display: flex;
  left: 50%;
  top: 75%;
  transform: translate(-50%);
}

.lineSizes {
  display: flex;
  flex-direction: row;
}

#icons {
  margin-right: 10px;
}

#rectangle {
  width: 40px;
  height: 40px;
  background-color: #ffffff;
  margin-right: 10px;
  /* text-align: center; */
}

.circle {
  background-color: black;
  border-radius: 50%;
}

#circleOne {
  width: 7px;
  height: 7px;
  /* margin: 35% auto; */
}

#circleTwo {
  width: 14px;
  height: 14px;
  /* margin: 23% auto; */
}

#circleThree {
  width: 24px;
  height: 24px;
  margin: 12% auto;
}

