html {
  overflow-y: auto;
}

#countdowntimer {
  border-style: solid;
  border-width: 1px;
  font-size: 100px;
}

 table {
   flex-basis: 20%;
 }

 #canvas {
  border-style: solid;
  background-color: rgba(0,0,0,0);
  border-width: 3px;
  /* position: absolute;
  top: 0;
  left: 0; */
}

#canvasDiv {
  width: 800px;
  height: 600px;
  /* position: relative; */
}

#moreUsersMessage {
  margin: 0;
  top: 33%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
}

#choosingWordsMessage {
  display: none;
  margin: 0;
  top: 33%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
}

#canvasButtons {
  margin: 0;
  top: 33%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
}

.main {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.chat {
  flex-basis: 17%;
  margin-right: 2%;
  overflow-y: auto; 
  height:600px;
}

.message-body {
  padding: 5px;
  margin-bottom: 5px;
  background-color: white;
}

.chatInput {
  display: flex;
}

.underscore {
  width: 50%;
  display: block;
  margin: auto;
  text-align: center;
  font-size: 75px;
  letter-spacing: 4px;
}

.icons {
  float: right;
}

