
html {
  overflow-y: auto;
  background-image: url("https://i.pinimg.com/originals/29/55/e2/2955e2567f366d2890da3caaf9fde13b.gif");
  background-size: cover;
}

/* https://cdnb.artstation.com/p/assets/images/images/011/513/619/original/james-doyle-2-1.gif?1529970112 */
/* https://steamuserimages-a.akamaihd.net/ugc/100603690261756602/010C72743B9DC679F81539B585332727078800FB/ */
/* https://steamuserimages-a.akamaihd.net/ugc/100603690264825367/868A468EFB1E097C58700B612C50AA4D7C76CD73/ */
/* https://steamuserimages-a.akamaihd.net/ugc/100603690261137482/D09D43F7AF5CE184E5A79C3A8F706B2A3BB64E2F/ */
/* https://i.pinimg.com/originals/fe/78/bb/fe78bbb25f35d56b502327fb6d43b309.png */

.upperSpace {
   display: flex;
   flex-direction: row;
   justify-content: center;
 }

#countdowntimer {
  float: left;
  display: absolute;
  font-size: 65px;
  width: 100px;
  height: 100px;
  text-align: center;
  visibility: hidden;
  color: #f20000;
}

#underscore {
  margin: 0 auto;
  width: 50%;
  text-align: center;
  font-size: 75px;
  letter-spacing: 4px;
  visibility: hidden;
  color: #f20000;
}

.main {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

 table {
   flex-basis: 20%;
 }

 #canvas {
  border-style: solid;
  background-color: rgb(255, 255, 255);
  border-width: 3px;
  position: absolute;

}

#canvasDiv {
  width: 800px;
  height: 600px;
  position: relative;
  display: flex;
}

#moreUsersMessage {
  margin: auto;
}

#choosingWordsMessage {
  display: none;
  margin: auto;
}

#canvasButtons {
  margin: auto;
}

.chat {
  flex-basis: 17%;
  margin-right: 2%;
  overflow-y: auto; 
  height:600px;
}

.message-body {
  padding: 5px;
  margin-bottom: 5px;
  background-color: white;
}

.chatInput {
  display: flex;
}

.lowerSide {
  margin-top: 25px;
  display: flex;
  justify-content: center
}


